.clients-title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
.clients-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $social-color;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  &:hover .clients-list-item-icon,
  &:focus .clients-list-item-icon {
    fill: $accent-color;
  }
}

.clients-list-item-icon {
  width: 80px;
  height: 50px;
  fill: $social-color;
}
