.logo {
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 90px;
}

.logo-first {
  color: $accent-color;
}

.logo .logo-second {
  color: $title-text-color;
}

.logo-bottom .logo-third {
  color: $primary-white-color;
}
