.footer {
  background-color: $second-background;

  &-content {
    display: flex;
  }
}

.address-list-item:first-child {
  margin-bottom: 9px;
  color: $primary-white-color;
}
.address-list-item-link-1 {
  display: inline-block;
  margin-bottom: 9px;
}
.address-list-item-link-2 {
  display: inline-block;
  margin-bottom: 60px;
}
.footer-networks {
  margin-top: 70px;
  margin-left: 70px;

  &-list {
    display: flex;
    justify-content: center;
  }

  &-list-item:not(:last-child) {
    margin-right: 10px;
  }
  &-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  &-list-item-link-icon {
    width: 20px;
    height: 20px;
    fill: $primary-white-color;
  }
}

.mailing-container {
  margin-top: 70px;
  margin-left: 90px;
}
