.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $primary-white-color;
  border-bottom: 1px solid #ececec;
}
.header .flexbox {
  justify-content: flex-end;
  align-items: center;
}
.flexbox {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.address {
  display: flex;
  justify-content: center;
}
